.races {
  // background-color: var($color-grey-dark-2);
  grid-column: center-start / center-end;

  margin: 15rem 0;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 6rem;

  &__title {
    //background-color: white;
    text-align: center;
    box-sizing: border-box;
    margin-top: 30rem;
    color: orangered;
    font-size: 8rem;
  }
}

.race {

  &__logo {
    width: 16rem;
    height: 16rem;

  }

  &__name {
    font-family: $font-display;
    font-weight: 400;
    font-size: 1.9rem;

  }

  &__text {
    font-size: 1.7rem;
  }
}
